* {
    margin: 0;
    padding: 0;
  }

  .nav {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 103px;
  }

  .leftnav {
    display: flex;
    justify-content: flex-start;
  }
  .nav-links,
  .nav-links a {
    display: flex;
    justify-content: flex-start;
    color: white;
    margin: 0px 10px;
    align-items: center;
    list-style: none;
  }
  .btm {
    color: white;
    background-color: cornflowerblue;
    padding: 5px;
    width: 75px;
  }

  .content {
    display: flex;
    padding: 10px 50px;
  }

  .leftSide {
    padding: 20px;
    flex: 2;
  }
 
  .outerBox {
    padding-inline: 20px;
    border: 2px;
    border-color: lightgrey;
    border-style: solid;
    margin-bottom: 20px;
  }
  .outerBox * {
    padding: 5px 0px;
  }

  .userBar {
    background-color: cornflowerblue;
    height: 75px;
  }

  #janesPhoto {
    width: 60px;
    position: absolute;
    top: 120px;
    border-radius: 50%;
  }

  .outerBox h1 {
    padding-top: 20px;
  }

  .outerBox .user img {
    width: 60px;
    position: relative;
    border-radius: 50%;
  }

  .loc img {
    height: 14px;
    position: relative;
    top: 6px;
  }

  .editProfile {
    margin: -10px 0px 20px 0px;
  }

  .editProfile img {
    width: 14px;
    height: 14px;
    position: relative;
    top: 7px;
  }

  .education {
    display: block;
    padding: 0px 20px;
    border: 2px lightgrey solid;
  }

  .education * {
    padding: 2px 0px;
  }

  .education h4 {
    background-color: dimgrey;
    color: white;
    margin-inline: -20px;
    margin-top: -10px;
    padding: 4px 20px;
  }

  .education .dates {
    color: grey;
  }
 
  .rightSide {
    padding: 20px;
    flex: 1;
  }

  .rightSide .profilePic {
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
  
  .connectionRequests {
    border: 2px lightgrey solid;
    padding: 0px 10px;
    margin-bottom: 20px;
  }
  .connectionRequests * {
    padding: 4px 0px;
  }

  .requestsBar {
    display: flex;
    background-color: grey;
    color: white;
    justify-content: space-between;
    padding: 2px 10px;
  }

  .requestsBar p {
    border-radius: 50%;
    background-color: lightgrey;
    color: black;
    padding-inline: 5px;
  }

  .requesters {
    display: flex;
    align-items: center;
  }

  .requesters * {
    padding-inline: 5px;
  }

  .todd {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .phil {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .connectionRequests .checkBox {
    max-width: 20px;
    max-height: 20px;
    padding-inline: 2px;
  }
  
  .yourConnections {
    border: 2px lightgrey;
    padding: 0px 10px;
  }
  .yourConnections * {
    padding: 4px 0px;
  }
  .connectionsBar {
    display: flex;
    background-color: grey;
    color: white;
    justify-content: space-between;
    padding: 2px 10px;
  }
  .connectionsBar p {
    border-radius: 100%;
    background-color: lightgrey;
    color: black;
  }
  .connections * {
    padding-inline: 5px;
    display: flex;
  }
  .yourConnections a {
    border: 2px lightgrey;
    display: block;
  }